@import '@/styles/parent/index.scss';

#nav {
    .header {
        margin: 20px auto;
        width: 80%;
        height: 30px;
        padding: 10px 0;
        display: flex;
        align-items: center;

        .logo-title {
            text-align: start;
            font-size: 18px;
        }
        .logo {
            width: 32px;
            height: 32px;
            margin: 0 10px 10px;
        }
    }
}
