@import '@/styles/parent/index.scss';

#nav {
    .header {
        margin: 20px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;


        .logo-title {
            display: inline-block;
            line-height: 20px;
            font-size: 18px;
        }
        .logo {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 0 10px 10px;
        }
    }
}
